# Perfect Verification

Choose the CI/CD tool that fits to you, the programming language(s) and your goals best...

- [AWS CodeBuild](https://aws.amazon.com/de/codebuild/)
- [Bamboo](https://de.atlassian.com/software/bamboo)
- [CircleCI](https://circleci.com/)
- [GitLab CI](https://about.gitlab.com/features/gitlab-ci-cd/)
- [Jenkins](https://jenkins.io/)
- [Travis CI](https://travis-ci.org/)

Select tools and tests to integrate in your CI/CD process...

- Unit tests
- Selenium
- Lint your code...
  - Security Python: [bandit](https://pypi.org/project/bandit/)
  - Code Quality JavaScript: [jshint](http://jshint.com/install/)
  - Code Quality Python: [pycodestyle](https://pypi.org/project/pycodestyle/) / [pylint](https://www.pylint.org/)
  - Quality HTML: [tidy](http://www.html-tidy.org/)
  - Quality CSS: [stylelint](https://www.npmjs.com/package/stylelint)
- Code Quality and Security aspects: [SonarQube](https://www.sonarqube.org/)
- Documentation: [sphinx](http://www.sphinx-doc.org/en/master/)

Separate your jobs and stages. Try to make use of e.g. [Docker containers](https://www.docker.com/)
